@model CaniFashion.Models.User

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<h4>Users</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group">
                <label asp-for="username" class="control-label">username</label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href='@Url.Action("Login","User")'>
                    <input type="submit" value="Login" class="btn btn-default" />
                </a>
                <a href='@Url.Action("Register","User")'>
                    <input type="submit" value="Sign up" class="btn btn-default" />
                </a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
